h1, h2, p, h3, h4 {
    color:rgb(255, 255, 255) !important;      
}

html, input, textarea, select, button {
    color: white !important;
    background-color: rgb(1, 0, 29) !important;
}

body {
    color: white !important;
    background-color: rgb(1, 0, 29) !important;
    cursor: url("https://www.flaticon.com/free-icons/cursor"),auto;
}

button {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(63, 74, 79);
    color: white;
    transition: all .2s ease-in;
    cursor: pointer;
    padding: 15px;
    width: 3rem;
    height: 3rem;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

button:hover {
    background-color: rgb(0, 221, 255);
}

#Top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(63, 74, 79);
    color: white;
    transition: all .2s ease-in;
    cursor: pointer;
    padding: 15px;
    width: 3rem;
    height: 3rem;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    
  }
  
#Top:hover {
    background-color: rgb(0, 221, 255);
}

.site-header {
    position: sticky;
}
.site-title, .site-nav, .page-link {
    color: rgba(0, 0, 0, 0.2) !important;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2); 
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
    position: sticky;
}

.page-link:hover{
    border-radius: 25px;
    background-color: rgb(255,255,255);
    transition: all .2s ease-in;
}

a {
    color: rgba(0, 0, 0, 0.2) !important;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2); 
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}


a:hover {
    color: rgb(0, 255, 55) !important;
    text-decoration: none;
}

.site-nav {
    background-color: rgb(1, 0, 29) !important;
    border-color: white !important;
}

.page-description {
    color: rgb(151, 151, 151) !important;
}

.post-meta {
    color: rgb(201, 201, 201)  !important;
}

.post-content p, .post-content li {
    color: rgb(180, 180, 180) !important;
}

btn {
    background-color: rgb(14, 0, 204) !important;
    color: rgb(240,240,240) !important;
    border-color: none !important;
}

.btn:hover {
    background-color: rgb(3, 80, 224) !important;
}

.post-list > li > div {
    box-shadow: none !important;
    background-color: rgb(0, 50, 116);
    border: rgb(10, 0, 150) !important;
}

li .post-meta-description {
    color: rgb(128, 128, 128) !important;
}

table th{
    background-color: rgb(1, 0, 29);
    border-color: rgb(115, 255, 0);
    color: rgb(124, 124, 124);
}

table td{
    background-color: rgb(8, 0, 124);;
    border-color: rgb(115, 255, 0);
    color: rgb(220, 220, 220);
}

canvas {
    filter: invert(100%);
}

pre, code {
    border-color: rgb(220,220,220);
    background-color: rgb(70, 70, 70);
}

.flash {
    color: rgb(70,70,70) !important;
    filter: brightness(80%);
}


@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}