$naval-blue: rgba(6,1,82,1);

body, html {
    background-color: rgba(6,1,82,1);
    margin: 0;
    padding: 0px;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    min-height: 100%;
    overflow-x: hidden;
}

.site-nav {
    background-color: rgba(6,1,82,1);
    border-color: white;
}
