$percentages : 0%, 25%, 50%, 75%, 100%;
$colors1 : #10c018, #1056c0, #ef0a1a, #254878, #04a1d5;
$colors2 : #04a1d5, #10c018, #1056c0, #ef0a1a, #254878;
$colors3 : #254878, #04a1d5, #10c018, #1056c0, #ef0a1a;
$colors4 : #ef0a1a, #254878, #04a1d5, #10c018, #1056c0;
@keyframes blinkingBackground1{
    @each $percent in $percentages {
        $i: index($percentages, $percent);
        $color: nth($colors1, $i);
        #{$percent} {
          background-color: $color;
        }
    }
}

@keyframes blinkingBackground2{
    @each $percent in $percentages {
        $i: index($percentages, $percent);
        $color: nth($colors2, $i);
        #{$percent} {
          background-color: $color;
        }
    }
}

@keyframes blinkingBackground3{
    @each $percent in $percentages {
        $i: index($percentages, $percent);
        $color: nth($colors3, $i);
        #{$percent} {
          background-color: $color;
        }
    }
}

@keyframes blinkingBackground4{
    @each $percent in $percentages {
        $i: index($percentages, $percent);
        $color: nth($colors4, $i);
        #{$percent} {
          background-color: $color;
        }
    }
}

@mixin backgroundTemplate {
    background-color: #000;
    width: 100px;
    height: 100px;
}
  

@mixin generateBackgroundCSS() {
    @for $i from 1 through 4 {
      .blink-bg#{$i} {
        @include backgroundTemplate;
        animation: blinkingBackground#{$i} 0.0001s infinite;
      }
    }
}

@mixin generateKeyframesCSS() {
    @for $i from 1 through 4 {
        @keyframes blinkingBackground#($i) {
            @each $percent in $percentages {
                $i: index($percentages, $percent);
                $color: nth($colors#, $i);
                #{$percent} {
                  background-color: $color;
                }
            }
        }
    }
}
  
@include generateBackgroundCSS();






