---
layout: post
---

{{ content }}
  <button onclick="scrollToTop()" id="Top" title="Go to top">↑</button>
  <script>
    var mybutton = document.getElementById("Top");
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
      var docHeight = (document.height !== undefined) ? document.height : document.body.offsetHeight;
      if ((document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) && (1300 + document.documentElement.scrollTop < docHeight)) {
        mybutton.style.display = "block";
    } 
    else {
        mybutton.style.display = "none";
    }
    }

    function scrollToTop() {
        window.scrollTo({top: 0, behavior: 'smooth'});
    }
    </script>